
<div class="container">
    <h4 style="text-align:center">Ubigeo</h4>
      <div class="center">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
             Seleccione o arrastre archivo plano aqui
             <br>
             <button type="button" (click)="openFileSelector()" class="btn btn-info">Seleccionar</button>
            </ng-template>
        </ngx-file-drop>
        <div class="upload-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre de archivo cargado</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td>{{ item.relativePath }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
      <h4 style="text-align:center">Departamentos</h4>
      <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Código Padre</th>
                <th scope="col">Descripcion Padre</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let depa of listDepa" >
                <td > {{depa.codigo}}</td>
                <td > {{depa.nombre}}</td>
                <td > {{depa.codpadre}}</td>
                <td > {{depa.despadre}}</td>
              </tr>
        </tbody>     
      </table>
      <h4 style="text-align:center">Provincias</h4>
      <table class="table table-bordered table-sm">
          <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Código Padre</th>
                <th scope="col">Descripcion Padre</th>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pro of listProv" >
                  <td> {{pro.codigo}}</td>
                  <td> {{pro.nombre}}</td>
                  <td> {{pro.codpadre}}</td>
                  <td> {{pro.despadre}}</td>
                </tr>
          </tbody>
      </table>
      
      <h4 style="text-align:center">Distritos</h4>
      <table class="table table-bordered table-sm">
          <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Código Padre</th>
                <th scope="col">Descripcion Padre</th>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let dist of listDist" >
                  <td> {{dist.codigo}}</td>
                  <td> {{dist.nombre}}</td>
                  <td> {{dist.codpadre}}</td>
                  <td> {{dist.despadre}}</td>
                </tr>
          </tbody>
      </table>
    </div>

<router-outlet></router-outlet>
